@{
    ViewBag.Title = "Welcome";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to Danny's House of Curry</title>
</head>
<body>
   <p style="font-size:18px;">
       Hi @ViewBag.Name,
   </p>
    <p style="font-size:18px">
        Thanks for signing up to <a href="http://DannyhouseofCurry.com">our site</a>!
    </p>
    <p style="font-size:18px"><i>Danny's House of Curry</i></p>
</body>
</html>
