@{
    ViewBag.Title = "Register Confirm";
}

<h2>@ViewBag.Title.</h2>
<div>
    <h3>
        Thank you so much for Registering with Danny's House of Curry
    </h3>

    <p> We hope that you have a Great meal and an amazing day ahead</p>

    <p> Please check you emails as a Confirmation Email has been sent, Click on the activation Link and you will be good to go</p>
</div>
